In [ ]:
print('Name')
print('Create a GUI to read any CSV, clean the data, and create widgets to select the column names, and graph type')

In [2]:
#pre defined code
from ipywidgets import widgets
from IPython.display import display, clear_output
import pandas as pd
from tkinter import Tk, filedialog
import matplotlib.pyplot as plt 

graph_type = ['Choose one.. ','line','bar']
operation =['choose','mean','max','min','sum','count']
df = ''
new_df = ''


def select_files(b):
    clear_output()
    global df
    root = Tk()
    root.withdraw() 
    file_name = filedialog.askopenfilename()
    df = pd.read_csv(file_name)
    print(file_name)
#pre defined code end
    #complete select_files function
    df.replace( '', float('nan') ,inplace=True)
    df.replace( '0', float('nan') ,inplace=True)
    df = df.dropna()
    display(df)
    groupby_col_widget = widgets.Dropdown(options=df.columns)
    operation_col_widget = widgets.Dropdown(options = df.columns)
    operation_widget = widgets.Dropdown(options = operation)
    groupby_int = widgets.interactive(groupby_dataframe, groupby_column=groupby_col_widget,
                        operation_column= operation_col_widget, operation = operation_widget)
    display(groupby_int)
    #End of select_files function

#Code for get_widget function
def get_widget():
    global new_df
    xlabel_widget = widgets.Dropdown(options = new_df.columns)
    ylabel_widget = widgets.Dropdown(options = new_df.columns)
    graph_widget = widgets.Dropdown(options = graph_type)
    graph = widgets.interactive(display_plot, xaxis=xlabel_widget,
                    yaxis= ylabel_widget, graph_type = graph_widget)
    display(graph)

#Code for groupby_dataframe function
def groupby_dataframe(groupby_column, operation_column, operation):
    print("Group By")
    
    
#pre defined code
fileselect = widgets.Button(description="File select")
fileselect.on_click(select_files)
display(fileselect)
#pre defined code end

C:/Users/shrav/data visualzation/C196/heart_failure_clinical_records_dataset.csv

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

interactive(children=(Dropdown(description='groupby_column', options=('age', 'anaemia', 'creatinine_phosphokinâ€¦